:root {
  --color-background--1: rgb(30, 30, 30);
  --color-background--2: rgb(61, 61, 61);
  --color-background--3: rgb(255, 255, 255);
  --color-heading--1: rgb(249, 114, 18);
  --color-heading--2: white;
  --color-link: rgb(163, 6, 6);
  --color-link--active: rgb(255, 4, 4);
}
