.wrapper {
  width: clamp(30rem, 30rem, 90%);
  color: white;
  margin: 0;
  margin-top: 4rem;
  padding: 2rem 2rem;
  background: linear-gradient(
    to bottom right,
    var(--color-background--1),
    var(--color-background--2)
  );
}

.project-title {
  margin-top: 1rem;
}

.project-links-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  background: linear-gradient(to right, #ff0000, rgb(252, 217, 217));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  .project-link {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    color: transparent;
    text-decoration: none;
  }

  .project-link:hover,
  .project-link:focus,
  .project-link:active {
    color: white;
  }
}

.image {
  width: 100%;
  border: 1px solid white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.project-sub-heading {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.project-features-ul {
  list-style: disc;
  display: flex;
  flex-wrap: wrap;

  .feature {
    margin-left: 2rem;
  }
}

.project-description {
  font-size: 1.2rem;
  margin-top: 1rem;
}
