@import "../../sass/colors";

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    var(--color-background--1),
    var(--color-background--2)
  );
  padding-bottom: 4rem;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  padding: 1rem 0 0 2rem;

  background: linear-gradient(to right, #ff7300, rgb(255, 190, 68));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h1 {
  font-size: 2.5rem;
}

.header-text {
  font-size: 2rem;
}

.links-wrapper {
  display: flex;
  flex-direction: column;

  background: linear-gradient(to right, #ff0000, rgb(252, 217, 217));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.links {
  font-size: 1.8rem;
  margin-top: 0.5rem;
  color: transparent;
  text-decoration: none;
}

.icon {
  color: white;
  margin-right: 1rem;
}

.photo {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-top: 2rem;
  max-width: 90%;
}

@media (orientation: landscape) {
  header {
    flex-direction: row;
  }

  .photo {
    margin-left: 4rem;
  }

  .text-wrapper {
    padding: 0;
  }
}
